    @model Paginacion<Autor> 
    @using System.Security.Claims;


@{
    ViewData["Title"] = "Index";
}

<h1 class="fw-bold pt-4">Autores</h1>


<div class="row">
        <div class="row">
            <div class="col-2 ">
                <a class="boton mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar</a>
            </div>
            <div class="col-2">
                <a class="boton mt-2" asp-controller="Libros" asp-action="Index">Libros</a>
            </div>

            <div class="col-7">
                <form asp-action="Index" class="row g-3">
                    <div class="col-md-4">
                        <label for="busqueda" class="form-label">Búsqueda:</label>
                        <input type="text" name="busqueda" id="busqueda" placeholder="Nombre Autor" class="form-control" />
                    </div>
                    <div class="col-md-4 mt-3">
                        <button type="submit" class="boton boton-primary mb-3">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
</div>





<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Sancion</h5>
                <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8">
                        <form asp-controller="Autor" asp-action="CreateAutor" id="formulario" method="post" onsubmit="sendForm(event)">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label name="NombreAutor" class="control-label">Nombre Autor </label> 
                                <input name="NombreAutor" class="form-control" /> 
                                @* <span asp-validation-for="Observaciones" class="text-danger"></span> *@
                            </div>
                            <div class="form-group mt-2">
                                <button class="boton medium" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-8">
            <table>
                <thead>
                    <tr>
                        <th>
                            Nombre Autor
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreAutor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                <button class="d-inline" data-bs-toggle="modal" data-bs-target="#UpdateModal_@item.Id"> <i class="fa-solid fa-file-pen fa-2xl" style="color: #82B440;"></i></button>

                                <!-- Modal Update -->
                                <div class="modal fade" id="UpdateModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar Autor</h5>
                                            <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <form asp-controller="Autor" asp-action="UpdateAutor" id="Updateformulario" method="post" onsubmit="sendForm(event)">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label name="Id" class="control-label">Id Autor</label>
                                                            <input name="Id" class ="form-control" value="@item.Id"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label name="NombreAutor" class="control-label">Nombre Autor </label> 
                                                            <input name="NombreAutor" class="form-control" value="@item.NombreAutor" /> 
                                                            @* <span asp-validation-for="Observaciones" class="text-danger"></span> *@
                                                        </div>
                                                        <div class="form-group mt-2">
                                                            <button class="boton medium" type="submit">Registrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        </div>
                                    </div>
                                </div>

                                <button class="d-inline" data-bs-toggle="modal" data-bs-target="#infoModal_@item.Id">  <i class="fa-solid fa-circle-info fa-2xl " style="color: #f2a918"></i> </button>

                                <!-- Modal Details -->
                                <div class="modal fade" id="infoModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalles autor</h5>
                                            <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">
                                                <h3>@item.NombreAutor</h3>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-4">
                                                    <span>Libros</span>
                                                        <ul>
                                                            @* @foreach(var item in Autores.Libros){
                                                             <li>@item.Nombre</li>
                                                            } *@
                                                        </ul>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        </div>
                                    </div>
                                </div>


                                <button class="d-inline">
                                    @if (item.Estado == "Activo")
                                    {
                                        <a asp-action="Desactivar" asp-route-id="@item.Id"> <i class="fa-solid fa-times fa-2xl" style="color: #ff0000 ;"></i> </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Activar" asp-route-id="@item.Id"> <i class="fa-solid fa-check fa-2xl" style="color: #00cc00 ;"></i> </a>
                                    }
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
</div>

    


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        var Mensaje = TempData["Mensaje"] as string;

        if (Mensaje != null)
        {
            var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
            <script>
                const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                const icono = "@mensaje.Icono";
                MostrarMensajeUsuarios(icono, cuerpo);
            </script>

        }

    }

    <script>
        @* function sendForm(e){
            e.preventDefault();
            Swal.fire({
                title: 'Quieres guardar los cambios?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'SI'
            }).then((resultado)=>{
                if (resultado.isConfirmed){
                    const formulario = document.getElementById("formulario")
                    formulario.submit();
                }
            })
        } *@

        function sendForm(e){
        e.preventDefault();
        Swal.fire({
            title: 'Quieres guardar los cambios?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'SI'
        }).then((resultado)=>{
            if (resultado.isConfirmed){
                const formulario = e.target;
                formulario.submit();
            }
        })
    }
    </script>

}
