@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tallerbiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     
    <link rel="stylesheet" href="~/css/Configuracion.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/catalogo.css" asp-append-version="true" /> 
    @*<link rel="stylesheet" href="~/css/Publicaciones.css" />*@
     <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/Calendario.css" asp-append-version="true" />
    
  
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://kit.fontawesome.com/718958d351.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="~/lib/evo-calendar-master/evo-calendar/css/evo-calendar.min.css" />
   

        <style>
    /* Estilos personalizados para los botones */
    .swal2-popup .swal2-actions .swal2-confirm {
     background-color:#1e6042;
      color: #fff; /* Cambia el color del texto del botón Confirmar */
    }
    
    .swal2-popup .swal2-actions .swal2-cancel {
      background-color: #e74c3c; /* Cambia el color de fondo del botón Cancelar */
      color: #fff; /* Cambia el color del texto del botón Cancelar */
    }

    
     .pagination-active-bg {
    background-color: #1e6042;
  }
  </style>



</head>
<body>
<nav class="navbar row1">
    <!-- LOGO -->
  
 

    <li><a class="options ms-3" data-bs-toggle="dropdown" aria-expanded="false"> &#9776;</a> 
    <ul class="dropdown-menu dropdownMain ">
    <li><a class="">Perfil</a></li>
    @if (User.FindFirst(ClaimTypes.Role)?.Value == "1")
    {
      <li><a class="text-light" asp-controller="Rol" asp-action="Index">Roles</a></li>
      <li><a class="text-light" asp-controller="Configuracion" asp-action="Index">Configuración</a></li>
    }
    <li><hr class="dropdown-divider"></li>
    @if (User.Identity.IsAuthenticated)
    {
      <li><a class="text-light" asp-controller="Usuarios" asp-action="Logout" onclick="return confirm ('seguro deseas cerrar sesion?');">Cerrar sessión</a></li>
    }
  </ul> 
  </li>


  <div class="ms-3 logo ">
         <h6 class="text-light pt-2">
            @if(User.Identity.IsAuthenticated){
                @User.Identity.Name;

                var Roles = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role && System.Text.RegularExpressions.Regex.IsMatch(c.Value, @"^[a-zA-Z_]+$"));
                <br>
                <span>@Roles?.Value?.ToLower()</span>
            }else{
              <li> <a asp-controller="Usuarios" asp-action = "Login">Iniciar Session</a></li>
            }
            
        
      </div>
  <div class="campana">
    <a class="dropdownMain ">
      <a data-bs-toggle="dropdown" aria-expanded="true">
          <div class="notification">
              <div class="notification-icon"></div>
              <div class="notification-badge border border-dark border-1" id="valorCampana"></div>
          </div>
      </a>
      <ul class="dropdown-menu" style="width: 200px;">
          @if (User.FindFirst(ClaimTypes.Role)?.Value == "1"|| User.FindFirst(ClaimTypes.Role)?.Value == "3")
          {
              <li id="notificacionesContainer"></li>
          }else{
              <li id="notificaiconesUsuario"></li>
          }
      </ul>
    </a>
  </div>
             
      
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">

    <!-- USING CHECKBOX HACK -->
    <input type="checkbox"id="checkbox_toggle" class="layout"  />
    
    <label for="checkbox_toggle"class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->
    <div class="menu">
      @if ((User.FindFirst(ClaimTypes.Role)?.Value == "1") || (User.FindFirst(ClaimTypes.Role)?.Value == "3"))
      {
        <li><a  asp-controller="Prestamos" asp-action="Calendario">Inicio</a></li>
      }
      <li><a  asp-controller="Libros" asp-action="Catalog">Catálogo</a></li>
      <li><a  asp-controller="Publicaciones" asp-action="Index">Publicaciones</a></li>
      @if (User.FindFirst(ClaimTypes.Role) != null && (User.FindFirst(ClaimTypes.Role).Value == "1" || User.FindFirst(ClaimTypes.Role).Value == "3"))
      {
        <li><a asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
        <li class="services">
        <a asp-area="" asp-controller="Libros" asp-action="Index">Libros</a>

          @* <!-- DROPDOWN MENU --> *@
          <ul class="dropdownMain">
            <li><a asp-area="" asp-controller="Ejemplar" asp-action="Index" >Ejemplares</a></li>
              <li><a asp-area="" asp-controller="Autor" asp-action="Index" >Autores</a></li>
              <li><a asp-area="" asp-controller="Generos" asp-action="Index" >Generos</a></li>
          </ul>

        </li>
      }
      <li><a asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a></li>
      <li><a asp-area="" asp-controller="Peticiones" asp-action="Index">Peticiones</a></li>
      <li><a asp-area="" asp-controller="Prestamos" asp-action="Index">Préstamos</a></li>
      <li><a asp-area="" asp-controller="Devoluciones" asp-action="Index">Devoluciones</a></li>
      <li><a asp-area="" asp-controller="Sanciones" asp-action="Index" >Sanciones</a></li>
    </div>
  </ul>
</nav>



    
    
    
    <div class="container  mb-1">
        <main role="main" class="pb-3 mt-5 pt-5">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - tallerbiblioteca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @if (ViewData["Cerrar"]!=null && ViewData["Cerrar"].ToString()=="true")
    {
        <script>
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Cerrando sesión',
                showConfirmButton: false,
                timer: 1500
            }).then(function () {
                window.location.href = '@Url.Action("Login", "Usuarios")';
            });
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Configuracion.js"> </script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/js/Usuarios.js"></script>
   
    <script src="~/js/Libros.js"> </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.5.0/locales/es.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

   
   
    @* <script src="~/js/EventManager.js"></script> *@
    

   
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (ViewBag.CambiarColor != null && (bool)ViewBag.CambiarColor)
    {
        <script>
            var elemento = document.getElementById("valorCampana");
            elemento.style.color = "red"; // Cambia el color a rojo (puedes usar cualquier color deseado).
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)

    <div class="container-fluid py-4 bg-light">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-4 text-center">
      <h6>Institución Educativa San Lorenzo De Aburrá</h6>
      <h3>"Luz órden y progreso"</h3>
    </div>
    <div class="col-md-4 text-center">
      <img src="~/Images/Escudo.png" class="img-fluid" alt="Escudo institucional"/>
    </div>
    <div class="col-md-4 text-center">
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-map-marker"></i>
          <address>
            <strong>¿Donde nos encontramos?</strong>
            <br>
            Dirección: Sede Principal: Carrera 39 No. 80-33 Barrio Santa Inés
            <br>
            Dirección: Sede Primaria: Calle 81 No. 40 - 46
          </address>
        </li>
        <li>
          <i class="fa fa-phone"></i>
          Teléfono: 233 19 78 / 211 82 31
        </li>
        <li><i class="fa fa-envelope-o"></i> bookware2024@gmail.com</li>
      </ul>
    </div>
  </div>
</div>

    

</body>
</html>

<script>
    function CerrarSesion() {
        Swal.fire({
            title: "¿Seguro que deseas cerrar sesión?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sí, cerrar sesión",
            cancelButtonText: "No",
        }).then((result) => {
            if (result.value) {
                window.location.href = "@Url.Action("Logout", "Usuarios")";
            }
        });
    }
</script>
