@* @model IEnumerable<tallerbiblioteca.Models.Pginacion<Ejemplar>> *@
    @model Paginacion<Ejemplar>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-4 m-2">
       
        <button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Registrar
        </button>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar ejemplar</h5>
                <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                

                <div class="row">
                    <div class="col-md-8">
                        <form asp-controller="Ejemplar" asp-action="CreateFromLibros" method="post" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label">Libro</label>
                                <select name="Id_libro" class ="form-control" asp-items="ViewBag.libros"></select>
                                @* <span asp-validation-for="LibroViewModel.Ejemplar.Id_libro" class="text-danger"></span> *@
                            </div>
                            <div class="form-group mt-2">
                                <label asp-for="LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label> @*
                                <input asp-for="LibroViewModel.Ejemplar.Isbn_libro" class="form-control" /> *@
                                @* <label asp-for="@Model.LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label> *@
                                <input type="text" class="form-control mb-2" name="Isbn_ejemplar" data-val="true" data-val-required="Ingresa este campo por favor" >
                                @* <span asp-validation-for="LibroViewModel.Ejemplar.Isbn_libro" class="text-danger"></span> *@
                            </div>
                            @* <div class="form-group">
                                <input asp-for="LibroViewModel.Ejemplar.EstadoEjemplar" value="ACTIVO" class="form-control" type="hidden"/>
                            </div> *@
                            <div class="form-group">
                                <button class="boton mt-2 mb-2" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
            </div>
        </div>
    </div>

    <div class="col-4">
        <form asp-action="Index"> 
            <p>
                <input type="text" name="busqueda" placeholder="Nombre libro, Isbn o Id" class="form-control"/>
                <button type="submit" class="ms-4 mt-1 boton medium" value="Buscar">Buscar</button>
            </p>
        </form>
    </div>
   
</div>
<div class="row">
    <table >
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Id_libro
                </th>
                <th>
                    Nombre libro
                </th>
                <th>
                    Isbn
                </th>
                <th>
                    Estado
                </th>
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var ejemplar in Model.Items) {
            <tr>
                <td>
                   @ejemplar.Id
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Id_libro)
                </td>
                    <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Libro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Isbn_libro)
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.EstadoEjemplar) 
                    @if(ejemplar.EstadoEjemplar == "EN PRESTAMO"){
                        <span id="detallesEjemplar" data-bs-target="#detallesEjemplar_@ejemplar.Id" data-bs-toggle="modal">
                            <i class="fas fa-eye ms-2 mt-2" ></i>
                        </span>

                        <div class="modal" tabindex="-1" role="dialog" id="detallesEjemplar_@ejemplar.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@ejemplar.Libro.Nombre</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Contenido del modal aquí -->
                                        <p>Contenido del modal...</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton boton-secondary" data-dismiss="modal">Cerrar</button>
                                        <!-- Otros botones si es necesario -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button class="d-inline" ><a data-bs-toggle="modal" data-bs-target="#editar_@ejemplar.Id"><i class="fa-solid fa-file-pen fa-2xl " style="color: #82B440;"></i></a></button>
                    <!-- Modal -->
                    <div class="modal fade" id="editar_@ejemplar.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar @ejemplar.Id</h5>
                                    <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Edit" method="post">
                                        @Html.Hidden("Id", ejemplar.Id)
                                        <select asp-for="@ejemplar.EstadoEjemplar" name="Estado" class="form-select">
                                        <option value="DISPONIBLE">Disponible</option>
                                        <option value="NO_DISPONIBLE">No Disponible</option>
                                        </select>
                                        <button class="mt-2 boton medium" type="submit">Editar</button>
                                    </form>
                                
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <!-- debido a que el ejemplar no se elimina no se utiliza el siguiente fragmento de codigo -->
                    @* <form class="d-inline"  asp-action="Delete" id="form-@ejemplar.Id.ToString()" onsubmit="sendForm(event)">
                            @Html.Hidden("Id", ejemplar.Id)
                        <button class="d-inline" type="submit"><i class="fa-solid fa-trash fa-2xl " style="color: #e83a3a;"></i> </button>
                    </form> *@
                </td>
            </tr>
    }
        </tbody>
    </table>
  
</div>

   <div class="row">
               <div class="pagination p1">
                    <ul>
                         <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                        <a href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]"><li><<</li></a>
                        @for (var i = 1; i <= Model.TotalItems; i++)
                        {
                            
                            <a class=" me-1 @(Model.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                            
                        }
                         @if (Model.Numero_pagina < Model.TotalItems)
                        {
                           
                                <a href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>
                           
                        }
                        <a class="ms-1" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]"><li>Fin</li></a>
                    </ul>
                </div>
            </div>

     @section Scripts{
        <script>
            function sendForm(e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Quieres eliminar este ejemplar?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'SI'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        var formId = e.target.id;
                        var formElement = document.querySelector("#" + formId);
                        if (formElement) {
                            formElement.submit();
                        } else {
                            console.error("El formulario con ID " + formId + " no se encontró en el DOM.");
                        }
                    }
                })
            }
        </script>

        <script>
    $(document).ready(function () {
        $("#detallesEjemplar").click(function () {
            // Muestra el modal al hacer clic en el ícono del ojo
            $("#modalDetallesEjemplar").modal("show");
        });
    });
</script>
        @{
            var Mensaje =  TempData["Mensaje"] as string;
            if (Mensaje!=null){
                var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
                <script>
                    const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                    const icono = "@mensaje.Icono";
                    MostrarMensajeUsuarios(icono, cuerpo);
                </script>
            }
        }
    }

