@* @model IEnumerable<tallerbiblioteca.Models.Pginacion<Ejemplar>> *@
    @model Paginacion<Ejemplar>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script>

 <h1 class="fw-bold fs-1 text-center ">Ejemplares</h1>
<div class="row">
    <div class="col-md-4 m-2">
<<<<<<< Updated upstream
        <p>
            <button class="mt-1"> <a asp-action="Create">  Registrar </a></button> 
        </p>
=======
       
        <button type="button" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Registrar
        </button>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar ejemplar</h5>
                <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                

                <div class="row">
                    <div class="col-md-8">
                        <form asp-controller="Ejemplar" asp-action="CreateFromLibros" method="post" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label">Libro</label>
                                <select name="Id_libro" class="selectpicker" data-width="75%" title="Seleccione el libro correspondiente" data-live-search="true" asp-items="ViewBag.libros"></select>
                                @* <span asp-validation-for="LibroViewModel.Ejemplar.Id_libro" class="text-danger"></span> *@
                            </div>
                            <div class="form-group mt-2">
                                <label asp-for="LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label> @*
                                <input asp-for="LibroViewModel.Ejemplar.Isbn_libro" class="form-control" /> *@
                                @* <label asp-for="@Model.LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label> *@
                                <input type="text" class="form-control mb-2" name="Isbn_ejemplar" data-val="true" data-val-required="Ingresa este campo por favor" >
                                @* <span asp-validation-for="LibroViewModel.Ejemplar.Isbn_libro" class="text-danger"></span> *@
                            </div>
                            @* <div class="form-group">
                                <input asp-for="LibroViewModel.Ejemplar.EstadoEjemplar" value="ACTIVO" class="form-control" type="hidden"/>
                            </div> *@
                            <div class="form-group">
                                <button class="boton mt-2 mb-2" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
            </div>
        </div>
>>>>>>> Stashed changes
    </div>

    <div class="col-4">
        <form asp-action="Index"> 
            <p>
<<<<<<< Updated upstream
                <input type="text" name="busqueda" placeholder="Nombre libro, Isbn o Id" class="form-control"/>
                <button type="submit" class="ms-4 mt-1" value="Buscar">Buscar</button>
=======
                <input type="text" name="busqueda" placeholder="Nombre libro | Isbn | Id libro | estado" class="form-control"/>
                <button type="submit" class="ms-4 mt-1 boton medium" value="Buscar">Buscar</button>
>>>>>>> Stashed changes
            </p>
        </form>
    </div>
   
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Id_libro
                </th>
                <th>
                    Nombre libro
                </th>
                <th>
                    Isbn
                </th>
                <th>
                    Estado
                </th>
                <th>
                    <div class="col-md-4 pt-5">
                        <h2 class="fw-bold text-center ">Ejemplares</h2>
                    </div
                </th>

                
            </tr>
        </thead>
        <tbody>
    @foreach (var ejemplar in Model.Items) {
            <tr>
                <td>
                   @ejemplar.Id
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Id_libro)
                </td>
                    <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Libro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Isbn_libro)
                </td>
                <td>
<<<<<<< Updated upstream
                    @Html.DisplayFor(modelejemplar => ejemplar.EstadoEjemplar)
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button"  data-bs-toggle="modal" data-bs-target="#editar_@ejemplar.Id">
                    Editar
                    </button>
=======
                    @Html.DisplayFor(modelejemplar => ejemplar.EstadoEjemplar) 
                    @if(ejemplar.EstadoEjemplar == "EN PRESTAMO"){
                        <span id="detallesEjemplar" data-bs-target="#detallesEjemplar_@ejemplar.Id" data-bs-toggle="modal">
                            <i class="fas fa-eye ms-2 mt-2" ></i>
                        </span>

                        <div class="modal" tabindex="-1" role="dialog" id="detallesEjemplar_@ejemplar.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@ejemplar.Libro.Nombre</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       
                                        <p>Contenido del modal...</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton boton-secondary" data-dismiss="modal">Cerrar</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <label class="toggle-switch">
                        <input type="checkbox" class="chkCambiarEjemplar"  @(ejemplar.EstadoEjemplar == "DISPONIBLE" ? "checked" : "") data-ejemplar-id="@ejemplar.Id" />
                        <span class="slider"></span>
                    </label>

                    <form asp-action="Edit" method="post" id="formCambiarEstadoEjemplar">
                        <input type="hidden" id="ejemplarId" name="Id" value="">                                       
                            @* <button class="mt-2 boton medium" type="submit">Editar</button> *@
                    </form>
                    @* <!-- Button trigger modal -->
                    <button class="d-inline" ><a data-bs-toggle="modal" data-bs-target="#editar_@ejemplar.Id"><i class="fa-solid fa-file-pen fa-2xl " style="color: #82B440;"></i></a></button>
>>>>>>> Stashed changes
                    <!-- Modal -->
                    <div class="modal fade" id="editar_@ejemplar.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar @ejemplar.Id</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Edit" method="post">
                                        @Html.Hidden("Id", ejemplar.Id)
                                        <select asp-for="@ejemplar.EstadoEjemplar" name="Estado" class="form-select">
                                        <option value="DISPONIBLE">Disponible</option>
                                        <option value="NO_DISPONIBLE">No Disponible</option>
                                        </select>
                                        <button class="mt-2" type="submit">Editar</button>
                                    </form>
                                
                                </div>
                        
                            </div>
                        </div>
                    </div>
<<<<<<< Updated upstream

                    <form asp-action="Delete" id="form-@ejemplar.Id.ToString()" onsubmit="sendForm(event)">
=======
                    <!-- debido a que el ejemplar no se elimina no se utiliza el siguiente fragmento de codigo --> *@
                    @* <form class="d-inline"  asp-action="Delete" id="form-@ejemplar.Id.ToString()" onsubmit="sendForm(event)">
>>>>>>> Stashed changes
                            @Html.Hidden("Id", ejemplar.Id)
                        <button type="submit">Eliminar </button>
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
  
</div>

    <div class="text-center ms-5 ps-5">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.Numero_pagina == 1 ? "disabled" : "")">
                    <a class="page-link text-dark" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                </li>
                @for (var i = 1; i <= Model.TotalItems; i++)
                {
                    <li class="page-item  @(Model.Numero_pagina == i ? "active" : "") ">
                        <a class=" page-link bg-success text-dark" href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                    </li>
                }
                <li class="page-item @(Model.Numero_pagina == Model.TotalItems ? "disabled" : "")">
                    <a class="page-link text-dark" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]">Última</a>
                </li>
            </ul>
        </nav>
    </div>

     @section Scripts{
        <script>
            function sendForm(e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Quieres eliminar este ejemplar?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'SI'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        var formId = e.target.id;
                        var formElement = document.querySelector("#" + formId);
                        if (formElement) {
                            formElement.submit();
                        } else {
                            console.error("El formulario con ID " + formId + " no se encontró en el DOM.");
                        }
                    }
                })
            }
        </script>
<<<<<<< Updated upstream
=======

        <script>
         $(document).ready(function () {
        $("#detallesEjemplar").click(function () {
            // Muestra el modal al hacer clic en el ícono del ojo
            $("#modalDetallesEjemplar").modal("show");
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('.chkCambiarEjemplar').change(function() {
            var ejemplarId = $(this).data('ejemplar-id');
            $('#ejemplarId').val(ejemplarId);
            console.log("ID del ejemplar: " + ejemplarId);
            $('#formCambiarEstadoEjemplar').submit();
            console.log("le dimos click al boton y enviamos el formulario");
        });
    });
</script>
>>>>>>> Stashed changes
        @{
            var Mensaje =  TempData["Mensaje"] as string;
            if (Mensaje!=null){
                var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
                <script>
                    const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                    const icono = "@mensaje.Icono";
                    MostrarMensajeUsuarios(icono, cuerpo);
                </script>
            }
        }
    }

