@using System.Security.Claims;
@using tallerbiblioteca.Controllers
@model Paginacion<Publicaciones>
@{
    ViewData["Title"] = "Desactivar";
}
<link rel="stylesheet" href="~/css/Publicaciones.css" />")';
<div style="color: black ">
<h1>¿Seguro deseas desactivar  esta publicación?</h1>
<div>
    <div class="container">
        @foreach (var item in Model.Items)
        {
            <div class="card">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Imagen))" class="card-img" alt="Imagen">
                <div class="card-content">
                    <h3>TIPO:</h3>
                    <p class="card-description">@item.Tipo</p>
                    <h4>NOMBRE:</h4>
                    <p class="card-description">@item.Nombre</p>
                    <h3>DESCRIPCIÓN:</h3>
                    <p class="card-description">@item.Descripcion</p>
                    <div class="card-dates">
                        <p>Fecha de inicio: @item.FechaInicio</p>
                        <p>Fecha de fin: @item.FechaFin</p>
                    </div>
                        <div class="card-buttons">
                            <form asp-action="Delete">
                                <button class="Eliminar" style="color:black"type="submit">Aceptar</button>
                                <button class="editar"><a asp-action="Index">Volver</a></button>
                            </form>
                        </div>
                    
                </div>
            </div>
        }
</div>
    </div>
</div>
@if (ViewData["Desactivado"] != null && ViewData["Desactivado"].ToString() == "true")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Desactivado con éxito',
            text: 'Acabas de desactivar correctamente la publicación', // Coma faltante aquí
            showConfirmButton: true
        }).then(function () {
            window.location.href = '@Url.Action("Index", "Publicaciones")';
        });
    </script>
}
