@model tallerbiblioteca.Models.Publicaciones

@{
    ViewData["Title"] = "Desactivar";
}
<h1>Desactivar</h1>
<link rel="stylesheet" href="~/css/Publicaciones.css" />")';
<h3>¿Seguro deseas desactivar  esta publicación?</h3>
<div>
    <h4>Publicaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Imagen))" width="30px" height="40px" class="card-img" alt="Imagen">
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="boton boton-danger" /> |
        <a class="boton" asp-action="Index">Volver</a>
    </form>
</div>
@if (ViewData["Desactivado"] != null && ViewData["Desactivado"].ToString() == "true")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Desactivado con éxito',
            text: 'Acabas de desactivar correctamente la publicación', // Coma faltante aquí
            showConfirmButton: true
        }).then(function () {
            window.location.href = '@Url.Action("Index", "Publicaciones")';
        });
    </script>
}
