@model Paginacion<Peticiones>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-4">
  
            <button><a  asp-action="Index">Volver</a></button>
       
    </div>
    <div class=" col-md-4">
        <form asp-action="Rechazadas" class="ms-4" style="color: black">
            <p class="mb-0">
                <label>Fecha de Peticion:</label>
                <span>DESDE: </span>
                <input required type="date" name="fechaInicio" class="form-control" />
                <span> HASTA: </span>
                <input required type="date" name="fechaFin" class="form-control" />
                <button class="medium mt-2" type="submit">Buscar</button>
            </p>
        </form>
    </div>
    <div class="col-md-4 pt-2">
        <form asp-action="Rechazadas" class="ms-4" style="color: black">
            <p class="mb-0">
                <label>Filtro Busqueda</label>
                <input type="text" name="busqueda" placeholder="Nombre-Apellido-NombreLibro " class="form-control" />
                <button type="submit" class="mt-2">Buscar</button>
            </p>
        </form>
          <h1 class="fw-bold text-center pt-4" style="color: black">Peticiones</h1>
    </div>
    <div class="col-md-4 pt-2" style="color: black"> 
    </div>
</div>
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Id ejemplar</th>
            <th> Nombre Libro</th>
            <th> Nombre </th>
            @*<th> Apellido </th>*@
            <th> FechaPeticion </th>
            <th> Motivo </th>
            <th> Estado </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_ejemplar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ejemplar.Libro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPeticion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center ms-5 ps-5">
    <div class="pagination p1">
        <ul>
            <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
            <a href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]">
            <li><<</li></a>
            @for (var i = 1; i <= Model.TotalItems; i++)
            {

                <a class=" me-1 @(Model.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>

            }
            @if (Model.Numero_pagina < Model.TotalItems)
            {

                <a href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>

            }
            <a class="ms-1" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]">
            <li>Fin</li></a>
        </ul>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        var Mensaje = TempData["Mensaje"] as string;

        if (Mensaje != null)
        {
            var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
            <script>
                console.log("se va mostrar");

                const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                const icono = "@mensaje.Icono";
                MostrarMensajeUsuarios(icono, cuerpo);
            </script>

        }

    }
}