@* @model IEnumerable<tallerbiblioteca.Models.Libro> *@
    @* @model tallerbiblioteca.Models.LibroViewModel *@
    @model Paginacion<Libro>

@{
    ViewData["Title"] = "Index";
}
<h1 class="fw-bold fs-1 text-center ">Libros</h1>
<div class="row">
    <div class="col-md-3">
        <p>
            <button class="mt-1 button" > <a asp-action="Create">  Registrar </a></button> 
        </p>
    </div>

    <div class="col-5">
        <form asp-action="Index" > 
            <p class="d-flex align-items-center">
                <input type="text" name="busqueda" placeholder="Nombre libro" class="form-control"/>
                <button type="submit" class="ms-4 mt-1 button" value="Buscar">Buscar</button>
            </p>
        </form>
    </div>
<<<<<<< Updated upstream
    <div class="col-md-4 pt-2">
        <h2 class="fw-bold text-center pt-4">Libros</h2>
    </div>
=======
   
>>>>>>> Stashed changes
</div>
<div class="row">
    <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Cantidad
                        </th>
                        <th>
                           Descripcion
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var libro in Model.Items) {
                    <tr>
                        <td>
                            @* @Html.DisplayFor(modellibro => libro.Nombre) *@
                            @libro.Nombre
                        </td>
                        <td>
                            @* @Html.DisplayFor(modellibro => libro.CantidadLibros) *@
                            @libro.CantidadLibros
                        </td>
<<<<<<< Updated upstream
                        <td>
                            @* @Html.DisplayFor(modellibro => libro.Descripcion) *@
                            @libro.Descripcion
                        </td>
                        <td>
                            <button type="button" class="mb-1 button"> <a asp-action="Edit" asp-route-id="@libro.Id">Editar</a></button> 
                            <button class="mb-1 button"> <a asp-action="Details" asp-route-id="@libro.Id">Detalles</a> </button>
                            <button class="mb-1 button"> <a asp-action="Delete" asp-route-id="@libro.Id">Eliminar</a></button>
                            <!-- Button trigger modal -->
                            <button type="button" class="button"  data-bs-toggle="modal" data-bs-target="#create_@libro.Id">
                            Añadir Ejemplar
=======
                        <td style="width: 220px;">
                            <button class="d-inline m-1 "><a asp-action="Edit" asp-route-id="@libro.Id"><i class="fa-solid fa-file-pen fa-xl" style="color: #1e6042;"></i></a></button>
                            
                            @* <!-- este es el boton que abre el modal para ver información del libro -->                          *@
                            <button data-bs-target="#info_@libro.Id" data-bs-toggle="modal" class="d-inline m-1 "><i class="fa-solid fa-circle-info fa-xl " style="color: #7b7b7c"></i></button>
                            
                            @* <!-- este es el modal de información del libro --> *@
                            <div class="modal fade" id="info_@libro.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@libro.Nombre</h5>
                                            <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <span>@libro.Descripcion</span>
                                            </div>
                                            <br>
                                            <span style="color: @(libro.Estado == "ACTIVO" ? "green" : "red")">@libro.Estado</span>
                                            <hr>
                                           
                                            <div class="row">
                                               
                                            <div class="col-4">
                                                <img class="img-fluid w-50 h-auto" src="data:Images;base64,@libro.ImagenLibro" alt="fallo en la imagen" srcset="">
                                            </div>
                                            <div class="col-4">
                                                <span> Generos</span> 
                                                    <ul>
                                                        @foreach(var item in libro.Generos){
                                                             <li>@item.NombreGenero</li>
                                                        }
                                                       
                                                    </ul>

                                                <span>Autores</span>
                                                    <ul>
                                                        @foreach(var item in libro.Autores){
                                                            <li>@item.NombreAutor</li>
                                                        }
                                                    </ul>
                                            </div>
                                            <div class="col-4">
                                                Ejemplares
                                                <br>
                                                @{
                                                    if(libro.Ejemplares.Count<1){
                                                        <span class="text-danger"> No hay ejemplares asociados a este libro </span>
                                                    }
                                                }
                                                <ul>
                                                    @foreach(var item in libro.Ejemplares){
                                                        <li> Isbn_libro : @item.Isbn_libro 
                                                            <br>
                                                            <span>estado:</span>
                                                            <span style="color: @(item.EstadoEjemplar == "NO_DISPONIBLE" ? "red" : (@item.EstadoEjemplar == "EN PRESTAMO" ? "red"  : "green"))"> @item.EstadoEjemplar</span> 
                                                        </li>
                                                      
                                                        
                                                    }
                                                </ul>
                                            </div>
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="botonDelete Deletemedium mt-2" data-bs-dismiss="modal">Cerrar</button>

                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                          
                            <button  class="d-inline"data-bs-toggle="modal" data-bs-target="#create_@libro.Id"><i class="fa-solid fa-plus fa-xl " style="color: #000000;"></i>
>>>>>>> Stashed changes
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="create_@libro.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Añadir Ejemplar al libro @libro.Nombre</h6>
                                            <form asp-controller="Ejemplar" asp-action="Create" method="post" >
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                               
                                                <p>@libro.Id</p>
                                                <input asp-for="@Model.LibroViewModel.Ejemplar.Id_libro" value="@libro.Id" type="hidden">
                                                <div class="form-group">
                                                    <label asp-for="@Model.LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label>
                                                    <input asp-for="@Model.LibroViewModel.Ejemplar.Isbn_libro" class="form-control" />
                                                    <span asp-validation-for="@Model.LibroViewModel.Ejemplar.Isbn_libro"class="text-danger"></span>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <input asp-for="@Model.LibroViewModel.Ejemplar.EstadoEjemplar" value="ACTIVO" class="form-control" type="hidden"/>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="mt-2 button">Registrar</button>
                                                    <button type="button"  data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    @* <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div> *@
                                    </div>
                                </div>
                            </div>
                          
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            <div class="text-center ms-5 ps-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(Model.Numero_pagina == 1 ? "disabled" : "")">
                            <a class="page-link text-dark" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                        </li>
                        @if (Model.Numero_pagina > 1)
                        {
                            <li class="page-item">
                                <a class="page-link text-dark" href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]">Anterior</a>
                            </li>
                        }
                        @for (var i = 1; i <= Model.TotalItems; i++)
                        {
                            <li class="page-item  @(Model.Numero_pagina == i ? "active" : "") ">
                                <a class=" page-link bg-success text-dark" href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                            </li>
                        }
                        @if (Model.Numero_pagina < Model.TotalItems)
                        {
                            <li class="page-item">
                                <a class="page-link text-dark" href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">Siguiente</a>
                            </li>
                        }
                        <li class="page-item @(Model.Numero_pagina == Model.TotalItems ? "disabled" : "")">
                            <a class="page-link text-dark" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]">Última</a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div>
    <div class="col-1">
        <button type="button" class="mt-5 mb-2 button">
             <a  asp-controller="Autor" asp-action="Index"> Autores</a>
        </button>
            <button type="button" class="mb-2 button">
             <a  asp-controller="Generos" asp-action="Index"> Generos</a>
        </button>
           </button>
            <button type="button" class="mb-2 button">
            <a  asp-controller="Ejemplar" asp-action="Index"> Ejemplares</a>
        </button>
          
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var Mensaje = '@TempData["Mensaje"]';   
        if (Mensaje) {     
         MostrarMensaje(Mensaje);
        }
    </script>
}




