@* @model IEnumerable<tallerbiblioteca.Models.Libro> *@
    @* @model tallerbiblioteca.Models.LibroViewModel *@
    @model Paginacion<Libro>

@{
    ViewData["Title"] = "Index";
}


<h1 class="fw-bold fs-1 text-center ">Libros</h1>
<div class="row">
    <div class="col-md-4">
        <p>
            <a class="boton"  asp-action="Create">  Registrar </a>
        </p>
    </div>

    <div class="col-4">
        <form asp-action="Index"> 
            <p class="d-flex align-items-center">
                <input type="text" name="busqueda" placeholder="Nombre libro" class="form-control"/>
                <button type="submit" class="ms-4 mt-1 boton  " value="Buscar">Buscar</button>
            </p>
        </form>
    </div>
   
</div>
<div class="row">
    <div class="col-10">
            <table class="fs-5">
                <thead>
                    <tr>
                         <th>
                          Id
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Cantidad
                        </th>
                        <th>
                           Acciones
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
            @foreach (var libro in Model.Items) {
                    <tr>
                        <td>
                            @libro.Id
                        </td>
                        <td>
                            @* @Html.DisplayFor(modellibro => libro.Nombre) *@
                            @libro.Nombre
                        </td>
                        <td style="width:100px">
                            @* @Html.DisplayFor(modellibro => libro.CantidadLibros) *@
                            @libro.CantidadLibros
                        </td>
                        <td >
                            <button class="d-inline m-1 "><a asp-action="Edit" asp-route-id="@libro.Id"><i class="fa-solid fa-file-pen fa-xl" style="color: #1e6042;"></i></a></button>
                            
                            @* <!-- este es el boton que abre el modal para ver información del libro -->                          *@
                            <button data-bs-target="#info_@libro.Id" data-bs-toggle="modal" class="d-inline m-1 "><i class="fa-solid fa-circle-info fa-xl " style="color: #7b7b7c"></i></button>
                            
                            @* <!-- este es el modal de información del libro --> *@
                            <div class="modal fade" id="info_@libro.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@libro.Nombre</h5>
                                            <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <span>@libro.Descripcion</span>
                                            </div>
                                            <br>
                                            <span style="color: @(libro.Estado == "ACTIVO" ? "green" : "red")">@libro.Estado</span>
                                            <hr>
                                           
                                            <div class="row">
                                               
                                            <div class="col-4">
                                                <img class="img-fluid w-50 h-auto" src="data:Images;base64,@libro.ImagenLibro" alt="fallo en la imagen" srcset="">
                                            </div>
                                            <div class="col-4">
                                                <span> Generos</span> 
                                                    <ul>
                                                        @foreach(var item in libro.Generos){
                                                             <li>@item.NombreGenero</li>
                                                        }
                                                       
                                                    </ul>

                                                <span>Autores</span>
                                                    <ul>
                                                        @foreach(var item in libro.Autores){
                                                            <li>@item.NombreAutor</li>
                                                        }
                                                    </ul>
                                            </div>
                                            <div class="col-4">
                                                Ejemplares
                                                <br>
                                                @{
                                                    if(libro.Ejemplares.Count<1){
                                                        <span class="text-danger"> No hay ejemplares asociados a este libro </span>
                                                    }
                                                }
                                                <ul>
                                                    @foreach(var item in libro.Ejemplares){
                                                        <li> Isbn_libro : @item.Isbn_libro 
                                                            <br>
                                                            <span>estado:</span>
                                                            <span style="color: @(item.EstadoEjemplar == "NO_DISPONIBLE" ? "red" : (@item.EstadoEjemplar == "EN PRESTAMO" ? "red"  : "green"))"> @item.EstadoEjemplar</span> 
                                                        </li>
                                                      
                                                        
                                                    }
                                                </ul>
                                            </div>
                                            </div>
                                           
                                            
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                          
                            <button  class="d-inline"data-bs-toggle="modal" data-bs-target="#create_@libro.Id"><i class="fa-solid fa-plus fa-xl " style="color: #000000;"></i>
                            </button>
                            @* <!-- Modal --> *@
                            <div class="modal fade" id="create_@libro.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
                                            <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Añadir Ejemplar al libro @libro.Nombre</h6>
                                            <form asp-controller="Ejemplar" asp-action="Create" method="post" >
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            
                                                <input name="Id_libro" value="@libro.Id" type="hidden">
                                                <div class="form-group">
                                                  
                                                    <label asp-for="@Model.LibroViewModel.Ejemplar.Isbn_libro" class="control-label"></label>
                                                    <input type="text" class="form-control mb-2" name="Isbn_libro" data-val="true" data-val-required="Ingresa este campo por favor" >

                                                </div>
                                                <div class="form-group mb-2">
                                                    <input asp-for="@Model.LibroViewModel.Ejemplar.EstadoEjemplar" value="DISPONIBLE" class="form-control" type="hidden"/>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="boton medium">Registrar</button>
                                                    <button class=" botonDelete Deletemedium" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                   
                                    </div>
                                </div>
                            </div>
                            @* @{

                                if(@libro.Estado == "ACTIVO"){
                                    <button  class="d-inline"data-bs-toggle="modal" data-bs-target="#create_@libro.Id"><i class="fa-solid fa-ban fa-xl" style="color: #ff0404;"></i></button>
                                }else{
                                    <button  class="d-inline"data-bs-toggle="modal" data-bs-target="#create_@libro.Id"><i class="fa-solid fa-circle-check fa-xl" style="color: #ff0404;"></i> </button>
                                }
                            } *@
                            
                           <label class="toggle-switch">
                                <input type="checkbox" class="chkCambiarCampo" @(libro.Estado == "ACTIVO" ?"checked" : "" ) data-libro-id="@libro.Id">
                             <span class="slider"></span>
                            </label>
                            
                               <form id="formCambiarCampo" method="post" asp-action="CambiarEstado">
                <input type="hidden" id="libroId" name="libroId" value="">
            </form>

                          
                        </td>
                    </tr>
            }
                </tbody>
            </table>

          

            <div class="row">
               <div class="pagination p1">
                    <ul>
                         <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                        <a href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]"><li><<</li></a>
                        @for (var i = 1; i <= Model.TotalItems; i++)
                        {
                            
                            <a class=" me-1 @(Model.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                            
                        }
                         @if (Model.Numero_pagina < Model.TotalItems)
                        {
                           
                                <a href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>
                           
                        }
                        <a class="ms-1" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]"><li>Fin</li></a>
                    </ul>
                </div>
            </div>

             
           
           
    </div>
    <div class="col-1">
        
        <a class="boton mt-4 mb-2"  asp-controller="Autor" asp-action="Index" > Autores</a>

        <a class="boton mt-4 mb-2"  asp-controller="Generos" asp-action="Index"> Géneros</a>

        <a class="boton mt-4 mb-2"  asp-controller="Ejemplar" asp-action="Index"> Ejemplares</a>

    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   @* <script src="~/js/Libros.js"> </script> *@
     @{
        var Mensaje =  TempData["Mensaje"] as string;
 
        if (Mensaje!=null){
            var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
            <script>
                console.log("se va mostrar");
                
                const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                const icono = "@mensaje.Icono";
                MostrarMensajeUsuarios(icono, cuerpo);
            </script>
          
        }
      
    }
   
}




