



 @model IEnumerable<tallerbiblioteca.Models.Prestamo>
@{
    ViewData["Title"] = "Index";
}

<<<<<<< Updated upstream
<!-- con solo este div permitiremos a js insertar el calendario gracias a la libreria fullcalendar-->
<div id='calendar'></div>

<!-- este va ser el modal que se va abrir cuando le demos click a una fecha, esto por medio de js -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información de la Fecha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
=======
  <h1 class="fw-bold fs-1 text-center ">Prestamos</h1>
    <div class="row">
    <div class="col-md-2">
        <p>
            @if ((User.FindFirst(ClaimTypes.Role)?.Value == "1")||(User.FindFirst(ClaimTypes.Role)?.Value == "3")){
                 <a class="boton medium" asp-action="Create">  Registrar </a>
            }
           
        </p>
    </div>

  <div class="col-8 mb-4">
    <form asp-action="Index" class="row ">
        <div class="col-md-4">
            <label for="busqueda" class="form-label">Búsqueda:</label>
            <input type="text" name="busqueda" id="busqueda" placeholder="Identificación usuario |  Id ejemplar" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="fechaInicio" class="form-label">Desde:</label>
            <input type="date" name="fechaInicio" id="fechaInicio" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="fechaFin" class="form-label">Hasta:</label>
            <input type="date" name="fechaFin" id="fechaFin" class="form-control" />
        </div>
        <div class="col-md-2 mt-3">
            <button type="submit" class="boton medium ">Buscar</button>
        </div>
    </form>
</div>

   
</div>
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Id ejemplar</th>
            <th> Nombre Libro</th>
            <th> Nombre usuario </th>
            <th> Fecha Prestamo</th>
            <th> Fecha Devolución</th>
            <th> Estado </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="width: 15px;">
                @Html.DisplayFor(modelItem => item.Peticion.Id_ejemplar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peticion.Ejemplar.Libro.Nombre)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Peticion.NombreUsuario) @Html.DisplayFor(modelItem => item.Peticion.Usuario.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_fin)
            </td>
          <td style="color: @GetColorForEstado(item.Estado)">
    @Html.DisplayFor(modelItem => item.Estado)
</td>

            <td>
                @* <form asp-controller="Prestamos" asp-action="Create" method="post" >
                    <input asp-for="@Model.PeticionesViewModel.Prestamo.Id_peticion" value="@item.Id"  type="hidden">
                    <button type="submit">aceptar</button>
                </form>  *@

                @* <button class="d-inline m-1 "><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-file-pen fa-xl" style="color: #82B440;"></i></a></button> *@
                            
                @* <button class="d-inline" ><a asp-controller = "Prestamos" asp-action="Created" asp-route-id="@item.Id"> <i class="fa-solid fa-arrow-rotate-left fa-xl" style="color: #000000;"></i></a></button> *@
               
                <button data-bs-target="#create_@item.Id" data-bs-toggle="modal" class="boton medium mb-1"> Devolver </button>
                
                    <div class="modal fade" id="create_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Registrar devolución</h5>
                                <button type="button" class="boton-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-3 col-md-3">
                                        <img src="data:Images;base64,@item.Peticion.Ejemplar.Libro.ImagenLibro" style="max-height: 200px; object-fit: cover;" alt="fallo en la imagen" >
                                    </div> 
                                    <div class="col-8">
                                        <p> <strong class="fs-5 fw-bold text-dark"> Vamos a registrar la devolución del prestamo con Id: </strong> <span class=" fw-bold fs-5">@Html.DisplayFor(modelItem => item.Id)</span> </p>

                                        <p > <strong class="fw-bold fs-5 text-dark" >Id Ejemplar:</strong> <span class="fw-bold fs-5"> @Html.DisplayFor(modelItem => item.Peticion.Ejemplar.Id) </span></p>
                                        <p> <strong class="fw-bold fs-5 text-dark">Libro:</strong> <span class="fw-bold fs-5">@Html.DisplayFor(modelItem => item.Peticion.Ejemplar.Libro.Nombre)</span></p>
                                        <p><strong class="fw-bold fs-5 text-dark">Usuario:</strong> <span class=" fw-bold fs-5"> @Html.DisplayFor(modelItem => item.Peticion.Usuario.Name) @Html.DisplayFor(modelItem => item.Peticion.Usuario.Apellido) </span></p>
                                    </div>

                                </div>

             
                                <form asp-controller="Devoluciones" asp-action="Registrar" method="post">
                                    <div class="form-group">
                                        <label for="id_prestamo" class="control-label"></label>
                                        <input name="Id_prestamo" value="@item.Id" class="form-control" type="hidden" />
                                    </div>
                                    <div class="form-group">
                                        <label for="observaciones" class="control-label fw-bold fs-4">Observaciones</label>
                                        <textarea rows="4" cols="50" name="observaciones" class="form-control"></textarea>
                                    </div>
                                    <input type="submit" value="enviar" class="boton medium mt-2">
                                     <button type="button" class="botonDelete Deletemedium mt-2" data-bs-dismiss="modal">Cancelar</button>

                                </form>
                            </div>
                          
                            </div>
                        </div>
                    </div>
                
                <a asp-action="Edit" asp-route-id="@item.Id" class="boton medium mt-1"> Renovar </a>
                @* <button class="d-inline ms-2"><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark fa-2xl" style="color: #fa0000;"></i></a></button> *@
            </td>
        </tr>
}
    </tbody>
</table>
 <div class="row">
               <div class="pagination p1">
                    <ul>
                         <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                        <a href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]"><li><<</li></a>
                        @for (var i = 1; i <= Model.TotalItems; i++)
                        {
                            
                            <a class=" me-1 @(Model.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                            
                        }
                         @if (Model.Numero_pagina < Model.TotalItems)
                        {
                           
                                <a href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>
                           
                        }
                        <a class="ms-1" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]"><li>Fin</li></a>
                    </ul>
                </div>
>>>>>>> Stashed changes
            </div>
            <div class="modal-body">
                Fecha seleccionada: <span id="modal-date"></span>
                <br>
                Evento: <span id="modal-event"></span>
                <br>
                Usuario: <span id="modal-user"></span>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        var Mensaje =  TempData["Mensaje"] as string;
 
        if (Mensaje!=null){
            var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
        <script>
            const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
            const icono = "@mensaje.Icono";
            MostrarMensajeUsuarios(icono, cuerpo);
        </script>
          
        }
      
    }

} 
 
